@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
}

/* Fix for slick dots active state since we used customPaging */
.slick-dots li.slick-active div {
  background-color: white !important;
  width: 30px; /* Optional: makes the active dot an oblong shape */
  border-radius: 9999px;
}

.slick-list {
    outline: none !important;
}