@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
}

/* Slider styles */
.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: white;
}

.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.7;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}


